[submodule "docs/流程体系"]
	path = docs/流程体系
	url = https://github.com/PhilixKuro/StandardProcessSystem.git
[submodule "apps/frappe"]
	path = apps/frappe
	url = https://github.com/PhilixKuro/frappe.git
	branch = version-16
[submodule "apps/erpnext"]
	path = apps/erpnext
	url = https://github.com/PhilixKuro/erpnext.git
	branch = version-16
